body {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  background-image: url("/assets/bk.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  background-size: cover;
  color: white;
}

main {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  display: flex;
  justify-content: flex-end;
  width: 100vw;
  height: 50px;
  border-bottom: 1px solid white;
  background-image: linear-gradient(rgb(0,0,0,0),rgb(104,117,149,0.6));;
}

button {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-size: 16px;
  color: white;
  width: 120px;
  margin-right: 20px;
  border: none;
  background: none;
  transition: 0.4s;
}

button:hover {
  font-weight: 300;
  transition: 0.2s;
}

button:active {
  font-weight: 400;
  transition: 0.2s;
}

.content {
  display: flex;
  justify-content: space-evenly;
}


